.navbar {
    width: 100%;
    height: 60px;
    position: sticky;;
    top: 0;
    z-index: 1;
    background: var(--dark);
    padding: 0 2.5vw;
    display: flex;
    align-items: center;
}

.logo {
    height: 60%;
    text-decoration: none;
    color: var(--off-white);
}

.logo > span {
    color: var(--pink);
}

.join-box {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
}

.join-msg {
    color: var(--off-white);
    text-transform: uppercase;
}

.btn {
    border: 1px solid var(--off-white);
    border-radius: 2px;
    background: none;
    color: var(--off-white);
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.join-btn {
    background: var(--red);
    border-color: var(--red);
}