.main {
    padding: 15px;
}

.sidebar {
    background-color: var(--gray);
    color: var(--off-white);
    height: 100%;
}

.sidebar a {
    margin-left: 10px;
    display: block;
    color: var(--off-white);
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: var(--off-white);
}