body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(116deg, #B20710 -15.11%, #DA8FCF 51.46%, #2691d9 113.99%);
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

